#Relatório de análise I

In [1]:
import pandas as pd

dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

#Informações gerais sobre a base de dados

In [2]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [3]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de dados'])
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

Variáveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [4]:
#dados.shape
#dados.shape[0]
#dados.shape[1]
print("A base de dados apresenta {} linhas(imóveis) e {} colunas(variáveis)".format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 linhas(imóveis) e 9 colunas(variáveis)

#Relatório de análise II

##Tipos de imóveis

In [5]:
tipos_de_imoveis = dados['Tipo'] #Selecionando uma coluna da tabela
type(tipos_de_imoveis)  #series
tipos_de_imoveis.drop_duplicates(inplace = True) #Eliminando as linhas repetidas, e atribuindo ja
tipos_de_imoveis = pd.DataFrame(tipos_de_imoveis) #Criando um DataFrame
tipos_de_imoveis.columns.name = 'ID' #Mudando o nome do index
tipos_de_imoveis

ID                            Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [6]:
len(tipos_de_imoveis.index) #Lendo quantos valores tem no index(ID)

22

In [7]:
for i in range(len(tipos_de_imoveis.index)): #Printando o range do tamanho do index(ID)
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [8]:
tipos_de_imoveis.index = range(1, len(tipos_de_imoveis.index)+1)  #Colocando o valor do range no lugar do index(ID), começando de 1 e indo até len + 1
tipos_de_imoveis

ID                         Tipo
1                     Quitinete
2                          Casa
3       Conjunto Comercial/Sala
4                   Apartamento
5            Casa de Condomínio
6                Prédio Inteiro
7                          Flat
8                    Loja/Salão
9       Galpão/Depósito/Armazém
10               Casa Comercial
11                 Casa de Vila
12               Terreno Padrão
13                  Box/Garagem
14                         Loft
15  Loja Shopping/ Ct Comercial
16                      Chácara
17        Loteamento/Condomínio
18                        Sítio
19                Pousada/Chalé
20                       Studio
21                        Hotel
22                    Indústria

#Series

In [9]:
data = [1, 2, 3, 4, 5] # Criando uma list
s = pd.Series(data)    # Passando para uma serie
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
index = ['Linha ' + str(i+1) for i in range(5)]  # Alterando o index da serie
s = pd.Series(data, index)
s

Linha 1    1
Linha 2    2
Linha 3    3
Linha 4    4
Linha 5    5
dtype: int64

In [11]:
s2 = s + 2       #Operações com series
s2

Linha 1    3
Linha 2    4
Linha 3    5
Linha 4    6
Linha 5    7
dtype: int64

In [12]:
s3 = s + s2
s3

Linha 1     4
Linha 2     6
Linha 3     8
Linha 4    10
Linha 5    12
dtype: int64

#Data Frame

In [13]:
dados = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

dados

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
df1 = pd.DataFrame(data = dados)   #Criando um data frame e passando os dados
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
index = ["Linha " + str(i+1) for i in range(3)]         #Criando o index e a coluna para o df
columns = ["Coluna " + str(i+1) for i in range(3)]

In [16]:
df1 = pd.DataFrame(data = dados, index = index, columns = columns)  #Passando o index e coluna para o df
df1

         Coluna 1  Coluna 2  Coluna 3
Linha 1         1         2         3
Linha 2         4         5         6
Linha 3         7         8         9

In [17]:
df1[df1 > 0] = 'A'     #Elementos maiores que 0, troca para A
df1

        Coluna 1 Coluna 2 Coluna 3
Linha 1        A        A        A
Linha 2        A        A        A
Linha 3        A        A        A

In [18]:
df2 = pd.DataFrame(data = dados, index = index, columns = columns) #Criando df igual
df3 = pd.DataFrame(data = dados, index = index, columns = columns)

df2[df2 > 0] = 'B'    #Trocando tudo por B
df3[df3 > 0] = 'C'    #Trocando tudo por C

In [19]:
df4 = pd.concat([df1, df2, df3])      #Concatenando os dfs
df4

        Coluna 1 Coluna 2 Coluna 3
Linha 1        A        A        A
Linha 2        A        A        A
Linha 3        A        A        A
Linha 1        B        B        B
Linha 2        B        B        B
Linha 3        B        B        B
Linha 1        C        C        C
Linha 2        C        C        C
Linha 3        C        C        C

In [20]:
df4 = pd.concat([df1, df2, df3], axis = 1)  #Concatenando por linha
df4

,Coluna 1,Coluna 2,Coluna 3,Coluna 1,Coluna 2,Coluna 3,Coluna 1,Coluna 2,Coluna 3
Linha 1,A,A,A,B,B,B,C,C,C
Linha 2,A,A,A,B,B,B,C,C,C
Linha 3,A,A,A,B,B,B,C,C,C